@font-face {
  font-family: "iconfont"; /* Project id 5080682 */
  src: url('/static/font/iconfont.ttf?t=1764842646279') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-wushuju:before {
  content: "\e825";
}

.icon-a-rukudan3x:before {
  content: "\e60e";
}

.icon-a-yuyueguanli3x:before {
  content: "\e60f";
}

.icon-a-shangjiadan3x:before {
  content: "\e610";
}

.icon-a-tuijian3x:before {
  content: "\e611";
}

.icon-a-datuo3x:before {
  content: "\e612";
}

.icon-a-zhaoling3x:before {
  content: "\e613";
}

.icon-a-xunidan3x:before {
  content: "\e614";
}

.icon-a-wuliushisuan3x:before {
  content: "\e615";
}

.icon-a-ToBjianhuo3x:before {
  content: "\e616";
}

.icon-a-ToCjianhuo3x:before {
  content: "\e617";
}

.icon-a-ToCchuku3x:before {
  content: "\e618";
}

.icon-a-ToBzhuangche3x:before {
  content: "\e619";
}

.icon-a-ToBchuku3x:before {
  content: "\e61a";
}

.icon-a-zengzhifuwu3x:before {
  content: "\e61b";
}

.icon-a-PDAyichangchuli3x:before {
  content: "\e61c";
}

.icon-a-kucunchaxun3x:before {
  content: "\e61d";
}

.icon-a-huoquanzhuanyi3x:before {
  content: "\e61e";
}

.icon-a-yiweidan3x:before {
  content: "\e61f";
}

.icon-a-chanpincaozuochaxun3x:before {
  content: "\e620";
}

.icon-a-rongqiguanli3x:before {
  content: "\e621";
}

.icon-a-baocai3x:before {
  content: "\e622";
}

.icon-a-tiaozhengdan3x:before {
  content: "\e623";
}

.icon-a-pandiandan3x:before {
  content: "\e624";
}

.icon-a-kaipiao3x:before {
  content: "\e625";
}

.icon-a-hexiao3x:before {
  content: "\e626";
}

.icon-a-guanzhang3x:before {
  content: "\e627";
}

.icon-a-yingfu3x:before {
  content: "\e628";
}

.icon-a-fukuanshenqing3x:before {
  content: "\e629";
}

.icon-a-suopei3x:before {
  content: "\e62a";
}

.icon-a-chongzhi3x:before {
  content: "\e62b";
}

.icon-a-feiyongmingxichaxun3x:before {
  content: "\e62c";
}

.icon-a-yingshou3x:before {
  content: "\e62d";
}

.icon-a-shoupiao3x:before {
  content: "\e62e";
}

.icon-a-chengbenguanli3x:before {
  content: "\e62f";
}

.icon-a-baojiadan3x:before {
  content: "\e630";
}

.icon-a-feiyonggengzheng3x:before {
  content: "\e631";
}

.icon-a-JW3x:before {
  content: "\e632";
}

.icon-a-feiyongliushui3x:before {
  content: "\e633";
}

.icon-a-zhangdan3x:before {
  content: "\e634";
}

.icon-a-chanpin3x:before {
  content: "\e635";
}

.icon-a-kehu3x:before {
  content: "\e636";
}

.icon-a-gudingbaobiao3x:before {
  content: "\e637";
}

.icon-a-dingzhihuabaobiao3x:before {
  content: "\e638";
}

.icon-a-pingtaiguanli3x:before {
  content: "\e639";
}

.icon-a-tongzhigonggao3x:before {
  content: "\e63a";
}

.icon-a-gongyingshangguanli3x:before {
  content: "\e63b";
}

.icon-a-cangkuguanli3x:before {
  content: "\e63c";
}

.icon-a-baojiamoban3x:before {
  content: "\e63d";
}

.icon-a-yonghuguanli3x:before {
  content: "\e63e";
}

.icon-a-wuliufuwushang3x:before {
  content: "\e63f";
}

.icon-a-baobiao3x:before {
  content: "\e640";
}

.icon-a-PDA3x:before {
  content: "\e641";
}

.icon-a-caiwuguanli3x:before {
  content: "\e642";
}

.icon-a-xitong3x:before {
  content: "\e643";
}

.icon-a-haiwaicang3x:before {
  content: "\e644";
}

.icon-zhongxinjifei:before {
  content: "\e645";
}

.icon-quanbuyichang:before {
  content: "\e646";
}

.icon-koukuanmingxi:before {
  content: "\e647";
}

.icon-wdyc-copy:before {
  content: "\e648";
}

